html
{
    font-family: 'MarioKartWorld', 'Times New Roman', Times, sans-serif;
    word-spacing: 0.5em;
    background-image: url(../images/mklogos.jpg);
	background-size:contain;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
}

html::backdrop
{
    opacity: 0.3;
}

@font-face 
{
	font-family: 'MarioKartWorld';;
	src: url(../fonts/MarioKartWorld.otf);
}

nav{
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

nav a
{
    text-decoration: none;
    padding: 2.5% 5% 2.5% 5%;
    margin: 1.4%;
    display: inline-block;
    border-style: solid;
    color: black;
    font-size: large;
}

nav a:hover
{
    background-color: black;
    color: white;
    border-color: black;
}

nav a.active
{
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
}

h1
{
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
}

table, th, td
{
    border: 0.15em, solid, black;
    padding: 1em;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table.times
{
    font-size: x-large;
}

table.leaderboard
{
    font-size: medium;
    width: min-content;
    background-color: #43B3A9;
}

.colin-row {
  background-color: #DD3162;  
}

.cam-row {
  background-color: #0492C2; 
}

.other-row {
  background-color: #A68BC6;
}

th
{
    font-weight: 100;
}

td
{
    text-align: center;
}

td.winning
{
    background: rgba(0, 255, 0, 0.7);
}

td.losing
{
    background: rgba(255, 0, 0, 0.7);
}

td.tied
{
    background: rgba(255, 255, 0, 0.7);
}

.grid-layout
{
    display: grid;
    grid-template-columns: auto auto;
}

form
{
    text-align: center;
    margin-top: 2em;
}

section
{
    justify-content: center;
    column-gap: 5em;
}

label.form
{
    width: 60%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: justify;
    margin-left: 1em;
}

input[type="submit"] {
  width: fit-content;
}

button
{
    border: 0.15em, solid, black;
    padding: 1em;
    background: transparent;
}

button:hover
{
    background: rgba(255, 255, 255, 0.8)
}