{% extends "layout.html" %}
{% block content %}

    <h2>Edit Colin and Cam Times</h2>
    <form method="POST" class="grid-layout">
        {% for course in courses %}
            <label class="form">Cam {{ format_course_names(course.name) }}: <input class="data" name="cam_{{ course.name }}" value="{{ cam_times[course.value-1] }}"></label>
            <label class="form">Colin {{ format_course_names(course.name) }}: <input class="data" name="colin_{{ course.name }}" value="{{ colin_times[course.value-1] }}"></label>
        {% endfor %}
        <input type="submit" value="Update">
    </form>

{% endblock %}