<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Cam Kirn">
        <meta name="author" content="Colin Kirn">
		<meta name="description" content="Display author's track data for Mario Kart World">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" type="text/css"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    </head>

    <body onload="styleActivePage()">
        <h1>Mario Kart World Records</h1>
        <nav>
            <a href="/">Display Times</a>
            <a href="/input">Edit Times</a>
            <a href="/leaderboard">Leaderboard</a>
        </nav>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
        {% block content %}{% endblock %}
    </body>
</html>