{% extends "layout.html" %}
{% block content %}

<section class="grid-layout">
    <table class="leaderboard">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Course</th>
            <th>Percent off World Record</th>
        </tr>
        {% for entry in top10 %}
            <tr>
                <td>{{ loop.index }}</td>  <!-- loop.index starts at 1 -->
                <td>{{ entry.player }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.percentage }}%</td>
            </tr>
        {% endfor %}
    </table>

    <table class="leaderboard">
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Course</th>
            <th>Percent off World Record</th>
        </tr>
        {% for entry in bottom10 %}
            <tr>
                <td>{{61 - loop.index }}</td>  <!-- loop.index starts at 1 -->
                <td>{{ entry.player }}</td>
                <td>{{ entry.course }}</td>
                <td>{{ entry.percentage }}%</td>
            </tr>
        {% endfor %}
</section>
{% endblock %}



